// clk
IO_LOC "clk27M" 4;
IO_PORT "clk27M" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// hdmi
IO_LOC "tmds_clk_p" 33,34;
IO_PORT "tmds_clk_p" PULL_MODE=NONE;
IO_LOC "tmds_d_p[0]" 35,36;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE;
IO_LOC "tmds_d_p[1]" 37,38;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE;
IO_LOC "tmds_d_p[2]" 39,40;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE;

// leds
IO_LOC "LED[5]" 20;
IO_PORT "LED[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "LED[4]" 19;
IO_PORT "LED[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "LED[3]" 18;
IO_PORT "LED[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "LED[2]" 17;
IO_PORT "LED[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "LED[1]" 16;
IO_PORT "LED[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "LED[0]" 15;
IO_PORT "LED[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

// hw uart
IO_LOC "UART_TXD" 69;
IO_PORT "UART_TXD" IO_TYPE=LVCMOS33;
IO_LOC "UART_RXD" 70;
IO_PORT "UART_RXD" IO_TYPE=LVCMOS33;

// spi flash
IO_LOC "flash_clk" 59;
IO_PORT "flash_clk" IO_TYPE=LVCMOS33;
IO_LOC "flash_ncs" 60;
IO_PORT "flash_ncs" IO_TYPE=LVCMOS33;
IO_LOC "flash_di" 62;
IO_PORT "flash_di" IO_TYPE=LVCMOS33;
IO_LOC "flash_do" 61;
IO_PORT "flash_do" IO_TYPE=LVCMOS33;

// hw buttons
IO_LOC "BTN[0]" 88; // S1
IO_PORT "BTN[0]" PULL_MODE=NONE;
IO_LOC "BTN[1]" 87; // S2
IO_PORT "BTN[1]" PULL_MODE=NONE;

// SD card
IO_LOC "SD_CMD" 82;
IO_PORT "SD_CMD" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "SD_SCK" 83;
IO_PORT "SD_SCK" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "SD_CS" 81;
IO_PORT "SD_CS" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "SD_DAT0" 84;
IO_PORT "SD_DAT0" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "SD_DAT2" 80;
IO_PORT "SD_DAT2" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "SD_DAT1" 85;
IO_PORT "SD_DAT1" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// i2s audio
IO_LOC "I2S_DIN" 54;
IO_PORT "I2S_DIN" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "I2S_LRCK" 55;
IO_PORT "I2S_LRCK" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "I2S_BCLK" 56;
IO_PORT "I2S_BCLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "I2S_EN" 51;
IO_PORT "I2S_EN" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// RGB LED ws2812
IO_LOC "WS2812" 79;
IO_PORT "WS2812" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// MS5351M PLL
IO_LOC "CLK1" 10;
IO_PORT "CLK1" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "CLK2" 11;
IO_PORT "CLK2" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "CLK3" 13;
IO_PORT "CLK3" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// LCD Backlight
IO_LOC "LCD_BL" 49;
IO_PORT "LCD_BL" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

// EDID I2C
IO_LOC "I2C_CLK" 53;
IO_PORT "I2C_CLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "I2C_DAT" 52;
IO_PORT "I2C_DAT" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

/////// CUSTOM HW

// pwm audio
IO_LOC "DAC_OUT_R" 27;
IO_PORT "DAC_OUT_R" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
IO_LOC "DAC_OUT_L" 28;
IO_PORT "DAC_OUT_L" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

// USB keyboard
IO_LOC  "usb_dn" 25;
IO_PORT "usb_dn" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=4;
IO_LOC  "usb_dp" 26;
IO_PORT "usb_dp" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=4;

